@charset "UTF-8";

.esqtotal {
    width: 340.5px;
    height: 100wh;
    margin-top: 16;
}

.topic1 {
    background-color: #F2F4F7;
    width: 340.5px;
    height: 477px;
    margin-top: 15px;
    margin-bottom: 40px;
}

#tamanhotopic {
    margin: 0px;
    display: inline-flex;
    width: 300px;
    height: 56px;
    align-items: center;
    
    position: sticky;

    img {
        width: 36px;
        height: 36px;
        padding: 6px;
    }
    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        position: 0;
    }
}

#tamanhotopic:hover {
    background-color: rgba(211, 211, 211, 0.274);
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.topic2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F2F4F7;
    width: 340.5px;
    height: 490px;
}

.topo2 {
    display: inline-flex;
    
    p{
        font-weight: 600;
        width: 225px;
    }

    a {
        text-decoration: none;
        color: #0064D1;
    }

    :hover > a {
        width: 65px;
        height: 30px;
        text-decoration: underline;
    }
}

.edit > a {
    display: none;
}

.edit:hover > a {
    background-color: rgba(128, 128, 128, 0.212);
    border-radius: 10px 0px 0px 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.linkfinal {
    width: 260px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    color: #65686C;

    a {
        font-weight: 500;
        text-decoration: none;
        color: #65686C;
    }

    a:hover {
        text-decoration: underline;
        color: #65686C;
    }
}