@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F2F5;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #F0F2F5;
    width: auto;
    height: 120px;
    text-align: center;
    padding-top: 10px;

    img {
        width: 300px;
    }
}

.divPai {
    background-color: #F0F2F5;
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -110px;
}

.caixaCadastro {
    background-color: white;
    width: 420px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.219);
}

.topoCadastro {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}

.topoCadastro > h1 {
    padding-top: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.topoCadastro > h2 {
    text-align: center;
    font-weight: 200;
    font-size: 1em;
    padding-bottom: 10px;
}

.card01 {
    text-align: center;
    padding: 5px;
    margin: 10px 10px -10px 10px;

    .nome {
        padding-left: 10px;
        width: 47%;
        height: 40px;
        border-radius: 5px;
        border-color: rgba(0, 0, 0, 0.438);
    }


    .Apelido {
        padding-left: 10px;
        width: 47%;
        height: 40px;
        border-radius: 5px;
        border-color: rgba(0, 0, 0, 0.438);
    }
}

.mei > p {
        font-size: 0.9em;
        padding: 6px;
        margin: 15px;
    }

.card02 {
    text-align: center;
    padding: 10px;
    margin: -25px;

    select {
        padding-left: 10px;
        border-radius: 5px;
        width: 121px;
        height: 40px;
        border-color: rgba(0, 0, 0, 0.438);
    }
}

.card03 {
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-top: -15px;

    .sex {
        margin-top: -20px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.315);
        padding: 10px 11.3px;
        margin: 3px;
        border-radius: 5px;
        text-align: left;
        border-color: rgba(0, 0, 0, 0.438);
    }
}

.fonetel {
    text-align: center;
    padding: 10px;
    margin: 10px;
    padding: 3px;
}
.fonetel > input {
    height: 40px;
    width: 375px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
    border-color: rgba(0, 0, 0, 0.438);
}

.passw {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.passw > input {
    height: 40px;
    width: 375px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
    margin-top: -10px;
    border-color: rgba(0, 0, 0, 0.438);
}

.sabermais {
    font-size: 0.75em;
    margin: -5px 20px 20px 20px;
    color: rgba(0, 0, 0, 0.521);
}

.sabermais a {
    text-decoration: none;
    color: #385898;
}

.sabermais a:hover {
    text-decoration: underline;
}

.clicar {
    font-size: 0.75em;
    margin: -5px 20px 20px 20px;
    color: rgba(0, 0, 0, 0.521);
}

.clicar > a {
    text-decoration: none;
    color: #385898;
}

.clicar > a:hover {
    text-decoration: underline;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #00A400;
    width: 190px;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.register:hover {
    color: rgba(255, 255, 255, 0.795);
}

.links > a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

.acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tensConta > a {
    text-decoration: none;
    color: #1877F3;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 0.8em;
    max-width: auto;
    
}

.footer {
    padding: 10px;
    margin: auto;
    align-items: center;
    width: 900px;
}

.idioma {
    color: #8A8D91;
    padding: 10px 0px 10px 0px;
}

.idioma > a {
    color: #8A8D91;
    padding: 5px;
    text-decoration: none;
}

.idioma > a:hover {
    text-decoration: underline;
}

.hr2 {
    width: 940px;
}

.menufooter {
    color: #8A8D91;
    padding: 10px 0px 10px 0px;
    text-align: left;
}

.menufooter > a {
    color: #8A8D91;
    padding-right: 10px;
    text-decoration: none;
}

.menufooter > a:hover {
    text-decoration: underline;
}


.cop {
    color: #8A8D91;
}