@charset "UTF-8";

* {
    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100vw;
    
    
    overflow: hidden;
}



iframe {
    width: 100vw;
    height: 56px;
    
}

.topo-iframe{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.164);
}

.overlay-iframe {
    position: absolute;      
    width: 348.5px;     
    height: 100vh;    
    z-index: 1000;
    padding: 0px 20px 0px 20px;
}

.overlay-iframe2 {
    position: absolute; 
    right: 0;         
    width: 348.5px;     
    height: 100vh;    
    z-index: 1000;
    padding: 0px 20px 0px 20px;

}

header {
    position: fixed;
    max-height: 56px;
    width: 100vw;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
   
}

header img {
    margin-left: 5px;
    padding-right: 11px;
    height: 50px;
    width: 50px;
}

.containermenu {
    display: flex;
    width: 78vw;
}

.pesquisa {
    width: 320px;
    display: flex;
    align-items: center;
}

.botaopesquisa {
    font-size: 1em;
    padding-left: 10px;
    width: 17vw;
    height: 40px;
    background-color: #F0F2F5;
    border-color: transparent;
    border-radius: 50px;
    }

.botaopesquisa:focus {
    border-color: transparent;
    background-color: #F0F2F5;
    outline: none;
}

.menumeio {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    width: 51vw;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.menulinha {
    display: flexbox;
    align-items: center;
    justify-content: center;
    height: 56px;
    cursor: pointer;
    
    li{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 53px;   
    }
   
    .linha {
        width: 100px;
        height: 3px;
        background-color: #0866FF;
    }

}


.menumeio > ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    min-width: 111.59px;
    max-width: 39vw;
    unicode-bidi: isolate;
   

    li {
        display: flex;
        flex-direction: column;
        width: 111.59px;
        max-height: 56px;
        align-items: center;
        justify-content: center;

    }

    li > img {
        height: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a > img {
        width: 2.3em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:hover{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(218, 218, 218, 0.24);
        width: 7vw;
        height: 50px;
        border-radius: 10px;
    
    }

}

.menudireita {
    position: absolute;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 204px;
    height: 56px;

    ul {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 40px;
    }

    li {
        padding-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        background-color: rgba(187, 187, 187, 0.39);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 4px;
        margin-right: 4px;
    }

    li:hover {
        background-color: rgba(163, 163, 163, 0.39);
        cursor: pointer;
    }

    li > img {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        
    }

    .fotodir {
        background-image: url('../imagens/foto.jpg');
        background-size: 40px;
        background-position: center center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        border: 1px solid transparent; 

        }
    }

    .fotodir:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.377);
    }

    .container {
        display: flex;
        height: 100vh;

    }

    .coluna1 {
        /*scrollbar-width: none;*/
        min-width: 340.5px;
        flex: 1;
        overflow-y: auto;
        border-right: 1px solid black;
    }

    .coluna2 {
        min-width: 744px;
        overflow-y: auto;
        border-right: 1px solid black;
    }

    .coluna3 {
        /*scrollbar-width: none;*/
        min-width: 340.5px;
        flex: 1;
        overflow-y: auto;
        border-right: 1px solid black;
    }

    #esquerda {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        background-color: #F2F4F7;
    }

    #meio {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        background-color: #F2F4F7; 
        flex: 2;
        padding-left: 32px;
        padding-right: 32px;
    }

    div.conteudo2 {
        width: 680px;
        background-color: #F2F4F7;
    }

    .pensamento {
        background-color: white;
        width: 680px;
        height: 62px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.205);
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 12px 16px 10px 16px;
    }

    .pen-dentro {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 648px;
        height: 40px;
        color: rgb(110, 110, 110);

        .imgesq {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        p {
            background-color: rgba(128, 128, 128, 0.185);
            width: 472px;
            height: 40px;
            padding: 10px;
            border-radius: 20px;
            margin-left: 8px;
            margin-right: 8px;
        }

        p:hover {
            cursor: pointer;
            background-color: rgba(128, 128, 128, 0.24);
        }
    }

    .pen-img {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    .pen-img:hover {
        background-color: rgba(128, 128, 128, 0.185);
        border-radius: 10px;
    }

    .imgdir {
    
        margin-left: 8px;
        margin-right: 8px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .reels {
        width: 680px;
        height: 210px;
        display: flex;
        overflow-x: auto;
        margin-bottom: 10px;
    }

    .reels img {
        cursor: progress;
        margin-right: 10px;
    }

    .reels::-webkit-scrollbar {
        display: grid;
    }


    #reel01 {
        background-color: white;
        width: 112.5px;
        height: 200px;
        border-radius: 10px;
        margin-right: 4px;
        margin-left: 4px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.205);
    }

    .conteudousuarios {
        width: 680px;
        height: auto;
        display: flex;
        padding-bottom: 70px;
        margin-bottom: 8px;
    }

    #user {
        background-color: white;
        width: 680px;
        height: auto;
        border-radius: 10px;
        margin-right: 8px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.205);

        a {
            font-size: 0.9em;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .horario {
            color: gray;
        }

        .horario > a {
            color: gray;
        }
    }

    .user-dir {
        width: 36px;
        height: 36px;
        padding: 8px;
        display: flex;
        align-items: center;
        margin-right: 35px;
        margin-top: 10px;

        img {
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;
        }
        
        .tres-pontos:hover {
            background-color: rgba(128, 128, 128, 0.103);
            border-radius: 50%;
            cursor: pointer;
        }

        .fechar:hover {
            background-color: rgba(128, 128, 128, 0.103);
            border-radius: 50%;
            cursor: pointer;
        }
    }


    .toptop {
        display: flex;
        width: 656px;
        height: 36px;
        margin-bottom: 20px;
    }

    .topo {
        display: inline-flex;
        padding: 10px;

        img {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        }

        .fotomeio {
        background-image: url('../imagens/foto.jpg');
        background-size: 40px;
        background-position: center center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        border: 1px solid transparent; 

        }
    }

    .baixotopo {
        margin-top: 10px;
        display: inline-block;
        width: 536px;
        height: 19.984px;  
    }

    .conteudo {
        display: flexbox;
        width: 680px;

        p {
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
        a:hover {
            text-decoration: underline;
        }

        img {
            margin: -1px;
            max-width: 100%;
        }

        img:hover {
            cursor: pointer;
        }
    }

    .userfooter {
        border-radius: 0px 0px 10px 10px;
        background-color: white;
        width: 680px;
        height: 50px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        img {
            padding: 8px;
            height: 1em;
        }
    }

    .imgpost {
        width: 330px;
        min-height: 37px;
        border-radius: 5px;
    }

    .imgpost:hover {
        cursor: pointer;
        background-color: rgba(211, 211, 211, 0.336);
    }

    #direita {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        background-color: #F2F4F7;
        border-right: none;
    }