@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100vw;
    background-color: #F2F4F7;
    overflow: hidden;
}

header {
    position: fixed;
    max-height: 56px;
    width: 100vw;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.075);
}

header img {
    margin-left: 5px;
    padding-right: 11px;
    height: 50px;
    width: 50px;
}

.containermenu {
    display: flex;
    width: 78vw;
}

.pesquisa {
    width: 320px;
    display: flex;
    align-items: center;
}

.botaopesquisa {
    font-size: 1em;
    padding-left: 10px;
    width: 17vw;
    height: 40px;
    background-color: #F0F2F5;
    border-color: transparent;
    border-radius: 50px;
    }

.botaopesquisa:focus {
    border-color: transparent;
    background-color: #F0F2F5;
    outline: none;
}

.menumeio {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    width: 51vw;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
}


.menumeio > ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    min-width: 111.59px;
    max-width: 39vw;
    unicode-bidi: isolate;
   

    li {
        display: flex;
        flex-direction: column;
        width: 111.59px;
        max-height: 56px;
        align-items: center;
        justify-content: center;

    }

    li > img {
        height: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a > img {
        width: 2.3em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:hover{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(218, 218, 218, 0.24);
        width: 7vw;
        height: 50px;
        border-radius: 10px;
    
    }

}

.menudireita {
    position: absolute;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 204px;
    height: 56px;

    ul {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 40px;
    }

    li {
        padding-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        background-color: rgba(187, 187, 187, 0.39);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 4px;
        margin-right: 4px;
    }

    li:hover {
        background-color: rgba(163, 163, 163, 0.39);
        cursor: pointer;
    }

    li > img {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        
    }

    .fotodir {
        background-image: url('../imagens/foto.jpg');
        background-size: 40px;
        background-position: center center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        border: 1px solid transparent; 

        }
    }

    .fotodir:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.377);
    }

    .container {
        display: flex;
        height: 100vh;

    }

    .coluna1 {
        scrollbar-width: none;
        min-width: 340.5px;
        flex: 1;
        overflow-y: auto;
        border-right: 1px solid black;
    }

    .coluna2 {
        scrollbar-width: none;
        min-width: 744px;
        overflow-y: auto;
        border-right: 1px solid black;
    }

    .coluna3 {
        scrollbar-width: none;
        min-width: 340.5px;
        flex: 1;
        overflow-y: auto;
        border-right: 1px solid black;
    }

    #esquerda {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        background-color: #f1f1f1;
    }

    #meio {
        display: flex;
        justify-content: center;
        padding-top: 70px;
        background-color: #fff; 
        flex: 2;
        padding-left: 32px;
        padding-right: 32px;
    }

    div.conteudo2 {
        width: 680px;
        background-color: white;
    }

    .pensamento {
        background-color: white;
        width: 680px;
        height: 62px;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.123);
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 12px 16px 10px 16px;
    }

    .pen-dentro {
        background-color: white;
        width: 648px;
        height: 40px;
    }

    .reels {
        width: 680px;
        height: 200px;
        display: inline-flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    #reel01 {
        background-color: white;
        width: 112.5px;
        height: 200px;
        border-radius: 10px;
        margin-right: 8px;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.123);
    }

    .conteudousuarios {
        width: 680px;
        height: auto;
        display: flex;
        padding-bottom: 50px;
        margin-bottom: 8px;
    }

    #user {
        background-color: white;
        width: 680px;
        height: auto;
        border-radius: 10px;
        margin-right: 8px;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.123);
    }

    .conteudo {
        display: flexbox;
        width: 680px;

        img {
            max-width: 100%;
        }
    }

    .userfooter {
        border-radius: 0px 0px 10px 10px;
        background-color: white;
        width: 680px;
        height: 50px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        img {
            padding: 8px;
            height: 1em;
        }
    }

    .imgpost {
        width: 330px;
        min-height: 37px;
        border-radius: 5px;
    }

    .imgpost:hover {
        cursor: pointer;
        background-color: rgba(211, 211, 211, 0.336);
    }

    #direita {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        background-color: #f1f1f1;
        border-right: none;
    }