@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F4F7;
    font-family: Arial, Helvetica, sans-serif;
}

.blocoPrincipal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.bloco2 {
    background-color: #F2F4F7;
    width: 980px;
    height: 496px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding: 20px 0;
    position: relative;
    unicode-bidi: isolate;
}

.blocoesquerda {
    min-width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.blocesq {
    width: 980px;
    height: 496px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: cen;
    padding-left: 100px;
}

div > img {
    width: 50%;
    justify-content: left;
}

div > h2 {
    color: black;
    max-width: 450px;
    padding-left: 25px;
    font-size: 1.5em;
    font-weight: 300;
}

.blocodireita {
    background-color: #F2F4F7;
    min-width: 396px;
    min-height: 496px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocdir {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 24px;
    background-color: white;
    min-width: 396px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.199) ;
    border-radius: 10px;
}

.emailValido {
    padding: 15px;
    width: 360px;
    margin: 5px;
    border-width: thin;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.418);
}

.emailValido:hover{
    border-color: #0866FF;
}

.senha {
    padding: 15px;
    width: 360px;
    margin: 15px;
    border-width: thin;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.418);   
}

.iniciarSessao {
    background-color: #1877F2;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    width: 360px;
    height: 52px;
    margin: px;
    border-width: thin;
    border-radius: 10px;
    border-color: transparent;
    transition-duration: 0.5s;
}

.iniciarSessao:hover {
    background-color: #1876f2dc;
    cursor: pointer;
    transition-duration: 0.5s;
}

.criarConta {
    background-color: #36A420;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    width: 180px;
    height: auto;
    margin: auto;
    border-width: thin;
    border-radius: 7px;
    border-color: rgba(0, 0, 0, 0.418);
    padding: 15px 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    transition-duration: 0.5s;
}

.criarConta:hover {
    background-color: #36a420d2;
    transition-duration: 0.5s;
}


.novasenha {
    padding: 15px;
}

.novasenha > a{
    font-size: 0.9em;
    color: black;
}

.novasenha > a{
    color: #0866FF;
    text-decoration: none;
}

.novasenha > a:hover {
    text-decoration: underline;
}

.divHR {
    padding: 10px 10px 25px 10px;
}

div > hr {
    color: black;
    width: 350px;
}

.paragrafo {
    padding: 10px;
    font-size: 0.85em;
}

.paragrafo > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.paragrafo > a:hover {
    text-decoration: underline;
}

picture > img {
    width: 20em;
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 0.8em;
    max-width: auto;
    
}

.footer {
    padding: 10px;
    margin: auto;
    align-items: center;
    width: 900px;
}

.idioma {
    color: #8A8D91;
    padding: 10px 0px 10px 0px;
}

.idioma > a {
    color: #8A8D91;
    padding: 5px;
    text-decoration: none;
}

.idioma > a:hover {
    text-decoration: underline;
}

.hr2 {
    width: 940px;
}

.menufooter {
    color: #8A8D91;
    padding: 10px 0px 10px 0px;
    text-align: left;
}

.menufooter > a {
    color: #8A8D91;
    padding-right: 10px;
    text-decoration: none;
}

.menufooter > a:hover {
    text-decoration: underline;
}


.cop {
    color: #8A8D91;
}