@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divPai {
    background-image: url("imagens/background.png");
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: rgba(128, 128, 128, 0.514);
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
}

.divFilho {
    background-color: rgba(255, 255, 255, 0.418);
    width: 400px;
    height: 130px;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.336);
}

a {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 35px;
}

a:hover {
    color: rgb(0, 102, 255);
    transition-duration: 1s;
}

h2 {
    background-color: rgba(128, 128, 128, 0.363);
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    margin-left: -20px;
    margin-right: -20px;
    font-weight: lighter;
    margin-bottom: 20px;
}
