@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100vw;
    width: 100vw;
    background-color: gray;
}

header {
    max-height: 56px;
    width: 100vw;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

header img {
    margin-left: 5px;
    padding-right: 11px;
    height: 50px;
    width: 50px;
}

.containermenu {
    display: flex;
}

.pesquisa {
    width: 320px;
    display: flex;
    align-items: center;
}

.botaopesquisa {
    font-size: 1em;
    padding-left: 10px;
    width: 17vw;
    height: 40px;
    background-color: #F0F2F5;
    border-color: transparent;
    border-radius: 50px;
    }

.botaopesquisa:focus {
    border-color: transparent;
    background-color: #F0F2F5;
    outline: none;
}

.menumeio {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    width: 51vw;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
}


.menumeio > ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    min-width: 111.59px;
    max-width: 39vw;
    unicode-bidi: isolate;

    li {
        display: flex;
        flex-direction: column;
        width: 111.59px;
        max-height: 56px;
        align-items: center;
        justify-content: center;

    }

    li > img {
        height: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a > img {
        width: 2.3em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:hover{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(218, 218, 218, 0.24);
        width: 112px;
        height: 50px;
        border-radius: 10px;
    
    }

}

.menudireita {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    min-height: 56px;
    width: 320px;

}

